.container {
    border: 1px solid black;
    width: 300px;
}
#display {
    border: 1px solid black;
    height: 50px;
    margin: 15px;
    background-color: #d0e0b8;
}

#btns {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border: 1px solid black;
    height: 150px;

}

button:hover {
    background: grey;
    color: white;
}

button {
    font-family: arial;
    border: none;
    height: 30px;
    width: 60px;
    border-radius: 4px;
}